
{{#each colours}}

<div class="palette">
    <div class="color">{{colour}}</div>
    <div class="swatch" style="background-color: {{hex}}"></div>
    <div class="color">{{hex}}</div>
</div>

{{/each}}