.stat_points {
  background: $green;
  color: black;
  padding: 0.25rem;
  display: inline-block;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 2px solid darken($green, 10%);

  label {
    margin: 0;
  }

  h4 {
    color: white;
  }

  .counter {
    @include counter;
  }

}