<section class="info">

    <h2>{{ owner }} owns {{ name }}</h2>

    {{> @level }}{{> @stat-points }}

    {{> @hr }}

    {{> @thumbnail }}

    <p class="description">{{ description }}</p>

    {{> @stats }}

</section>
